
.Dashboard {
  display: flex;

}
button {
  color: white;
  font-size: 20px;
  width: 150px;
  background-color: black;
  margin: 0;
  text-align: center;

}

button:hover {
  background-color: white;
  color: #062491;
  cursor: pointer;
}

.Display {
  display: flex;

}
h1 {
  text-align: center;
  width: 150px;
  font-size: 100px;
  margin: 0;
  color: white;
  background-color: #062491;
  box-sizing: border-box;
  border: 1px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
